/*
@font-face {
  font-family: 'MyNotoJP';
  src: url('../assets/fonts/NotoSansJP-Black.woff2') format('woff2');
}

@font-face {
  font-family: 'MyBIZUDPGothic';
  src: url('../assets/fonts/BIZUDPGothic-Bold.woff2') format('woff2');
}


@font-face {
  font-family: 'MySourceHansSansJP';
  src: url('../assets/fonts/SourceHanSansJP-Heavy.woff2') format('woff2');
}
*/

@font-face {
  font-family: 'MyNotoJP';
  src: url('/fonts/NotoSansJP-Black.woff2') format('woff2');
}

@font-face {
  font-family: 'MyBIZUDPGothic';
  src: url('/fonts/BIZUDPGothic-Bold.woff2') format('woff2');
}


@font-face {
  font-family: 'MySourceHanSansJP';
  src: url('/fonts/SourceHanSansJP-Heavy.woff2') format('woff2');
}
